extends layout

block content
  h1= title
  h2 nico
  ul.list
    li.item
      a(href='/nico/games') games
    li.item
      a(href='/nico/vocaloid') vocaloid
    li.item
      a(href='/nico/utau') utau
